---
layout: default
title: Letters
nav_item: letters
---

<h3>Letters</h3>
<p>If you are a junior or a senior and wish to write your own letter, the link to submit them is <a href="https://forms.gle/V2BEhHwXLqLZLLPL7">here</a>. The directions are at the top (please read!).</p>
{% include randomletter.html %}
<br>
<div class="letters">
<ul class="grid-list">
	{% for letter in site.letters %}
		<li>
			<a class="link-moveout" href="{{ letter.url }}">{{ letter.title }}</a>
		</li>
	{% endfor %}
</ul>
</div>
